################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/boter kaas eieren/Debug
/boter kaas eieren/boter kaas eieren.VC.db
/boter kaas eieren/boter kaas eieren.VC.VC.opendb
